<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.928456128913-ortcj51chft2m3cu5sv65lc21bbeccsj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>928456128913-ortcj51chft2m3cu5sv65lc21bbeccsj.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>GolosText-Regular.ttf</string>
		<string>GolosText-Medium.ttf</string>
		<string>GolosText-SemiBold.ttf</string>
		<string>GolosText-Bold.ttf</string>
		<string>GolosText-ExtraBold.ttf</string>
		<string>GolosText-Black.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
